*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100%;
    background-color: lightgray;
}
#container{
    background-color: whitesmoke;
    width: 1120px;				
    margin: 0px auto;
}
#header{
    height: 70px;
    position: relative;
}
#header_logo{
    position: absolute;
    top:18px;
    left: 20px;
}
#header_logo h2{
    color: royalblue;
    cursor: pointer;
}
#header_menu a,#header_font a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
#header_menu{
    position: absolute;
    top:24px;
    left: 175px;
}
#header_menu #menu_list{
    list-style: none;
}
#header_menu #menu_list .menu_item{
    width: 140px;
    text-align: center;
    height: 45px;
    float: left;
    padding: 0px 0px;
}
#header_menu #menu_list .menu_item hr{
    margin: 0px auto;
    width: 0%;
    margin-top: 2px;
    background-color: royalblue;
    height: 5px;
    box-shadow: none;
    border: 0;
}
#header_menu #menu_list .menu_item:hover hr{
    transition: width 0.15s linear 0s; 
    width: 35%;
}
#header_font{
    position: absolute;
    right: 20px;
    top:24px;
}
#header_board{
    background-color: white;
    width: 100%;
    height: 0px;
    border: 0px;
}						
#header #header_menu:hover+#header_board{
    transition:0.4s;
    height: 380px;
}   
.menu_item ul {
    opacity: 0;
    list-style: none;
    height: 0px;
    overflow: hidden;
    
}
.menu_item ul li{
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}
.menu_item:hover ul{
    height: 380px;
    transition:all 0.2s ease 0.2s;
    margin-top: 15px;
    opacity: 1;
}
